node_modules/
build/
.svelte-kit/
.env
.env.*
!.env.example
.DS_Store
*.Zone.Identifier

# Playwright screenshots
*.png
!static/**/*.png

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
